Options +FollowSymLinks
RewriteEngine On
RewriteRule ^results/([0-9]*)?$ result_public.php?elect_id=$1 [L,QSA,NC]
RewriteRule ^officer admin/index.php?type=1 [L,QSA,NC]
RewriteRule ^admin/header_raw.php admin/index.php [L,QSA,NC]
RewriteRule ^admin/home admin/home.php [L,QSA,NC]
RewriteRule ^admin/codegenerator admin/code_generator.php [L,QSA,NC]
RewriteRule ^admin/register admin/register.php [L,QSA,NC]
RewriteRule ^admin/login admin/index.php [L,QSA,NC]
RewriteRule ^register admin/register.php [L,QSA,NC]
RewriteRule ^verify verify.php [L,QSA,NC]
RewriteRule ^admin/reports/([0-9]*)?$ admin/reports.php?elect_id=$1 [L,QSA,NC]
RewriteRule ^admin/electionofficers/([a-z]*)/([0-9]*)?$ admin/election_officers.php?command=$1&id=$2 [L,QSA,NC]
RewriteRule ^admin/electionofficers admin/election_officers.php [L,QSA,NC]
RewriteRule ^admin/results admin/results.php [L,QSA,NC]
RewriteRule ^admin/import admin/import.php [L,QSA,NC]
RewriteRule ^admin/export admin/export.php [L,QSA,NC]
RewriteRule ^admin/reset admin/election_reset.php [L,QSA,NC]
RewriteRule ^admin/elections/([a-z]*)/([0-9]*)?$ admin/elections_new.php?command=$1&id=$2 [L,QSA,NC]
RewriteRule ^admin/elections admin/elections_new.php [L,QSA,NC]
RewriteRule ^admin/portfolios/([a-z]*)/([0-9]*)?$ admin/portfolios_new.php?command=$1&id=$2 [L,QSA,NC]
RewriteRule ^admin/portfolios admin/portfolios_new.php [L,QSA,NC]
RewriteRule ^admin/aspirants/([a-z]*)/([0-9]*)?$ admin/aspirants_new.php?command=$1&id=$2 [L,QSA,NC]
RewriteRule ^admin/aspirants admin/aspirants_new.php [L,QSA,NC]
RewriteRule ^admin/voters/([a-z]*)/([0-9]*)?$ admin/voters_new.php?command=$1&id=$2 [L,QSA,NC]
RewriteRule ^admin/voters admin/voters_new.php [L,QSA,NC]
RewriteRule ^admin/downloadsample download.php?f=voters_file_SAMPLE.csv [L,QSA,NC]
